<div class="favorites-container">
  <h3>Pays favoris de {{ getUsername }}</h3>

  <table *ngIf="favorites.length > 0; else noFavs">
    <thead>
      <tr>
        <th>Pays</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fav of favorites">
        <td class="CountryTd"><a [routerLink]="['/home/country', fav.country]">{{ fav.country | titlecase }}</a></td>
        <td>{{ fav.description }}</td>
        <td>
          <img *ngIf="fav.image" [src]="fav.image" [alt]="fav.country" class="favorite-image">
        </td>
        <td class="LogoPoubelle">
          <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStsZH_kvBjTYKS1xE8bEnEampwVjNx2Yubtw&s" 
            alt="logo poubelle"
            (click)="deleteCountry(fav.country)">
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noFavs>
    <p>Aucun pays favori pour le moment.</p>
  </ng-template>
</div>
