li {
  list-style: none;
  padding: 5px 0;
}

.main-user-page {
  background: linear-gradient(180deg, #25325c 0%, #1b2f6b 60%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.invisible {
  visibility: hidden;
  padding: 1%;
}

.favorites-container {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

.CountryTd {
  font-weight: bold; 
  font-size: 1.2rem;
}

.LogoPoubelle {
  background-color: white;
}

.LogoPoubelle img{
  width: 90%;
  margin-left: 5%;
}

.CountryTd a {
  text-decoration: none;   
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #f0f0f0;
}

.favorite-image {
  width: 200px;      
  height: 120px;       
  object-fit: cover;  
  border-radius: 5px;
}
