<header class="header">
  <ul class="nav-list">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/mostVisited']">Lieux Populaires</a></li>
    @if (userService.username$ | async; as username) {
      <li><a [routerLink]="['/userPage']">Page Utilisateur</a></li>
    }
    @else {
      <li></li>
    }
  </ul>
  <div class="connection-link">
    @if (userService.username$ | async; as username) {
      <a (click)="logout()">Déconnexion</a>
      <p class="usernameHeader">{{ username?.[0] }}</p>
    } @else {
      <a [routerLink]="['/connection']">Connexion</a>
    }
  </div>
</header>
