.header {
  width: auto;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1%;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 55%;
    list-style: none;
    padding: 0;
    margin: 0 0 0 5%;

  }

  .connection-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    text-align: center;
    margin-left: 15%;
  }

  .usernameHeader {
    color: white;
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 50%;
    padding: 0;
    display: flex;            
    align-items: center;     
    justify-content: center;  
    text-decoration: none;
    margin: 0;
  }
}

header a {
  text-decoration: none;
  color: #333;             
  font-weight: 500;
  padding: 0.4rem 0.8rem;   
  border-radius: 6px;       
  transition: all 0.3s ease;
}

header a:hover {
  background: #0077ff;    
  color: #fff;             
}

header a:active {
  transform: scale(0.95);   
}
