<form (ngSubmit)="submit()" #resetForm="ngForm" novalidate>
  <div class="input-group">
    <span class="icon">🔒</span>
    <input 
      type="password" 
      [(ngModel)]="newPassword" 
      name="newPassword" 
      required 
      placeholder="Nouveau mot de passe"
      #password="ngModel"
    />
  </div>
  <div class="error" *ngIf="password.invalid && password.touched">
    Le mot de passe est requis.
  </div>

  <button type="submit" [disabled]="resetForm.invalid">Réinitialiser</button>
</form>

<router-outlet></router-outlet>