<div class="main-most-visited">
  <p class="invisible"></p>
  <div class="most-visited-container">
    <h3>Pays les plus visité</h3>
    
    <table *ngIf="mostVisited.length > 0; else noFavs">
      <thead>
        <tr>
          <th>Pays</th>
          <th>Description</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fav of mostVisited">
          <td class="CountryTd"><a [routerLink]="['/home/country', fav.lieu]">{{ fav.lieu | titlecase }}</a></td>
          <td>{{ fav.description }}</td>
          <td>
            <img *ngIf="fav.image" [src]="fav.image" [alt]="fav.lieu" class="favorite-image">
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noFavs>
      <p>Aucun pays favori pour le moment.</p>
    </ng-template>
  </div>
  <p class="invisible"></p>
  <div class="pagination-dropdown">
    <label for="itemsPerPage">Pays à afficher : </label>
    <select id="itemsPerPage"
      [(ngModel)]="itemsPerPage"
      (change)="onItemsPerPageChange()" 
      name="itemsPerPage"
    >
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>
  <p class="invisible"></p>
</div>
