@use "sass:map";
@mixin respond-max($point) {
  $val: map.get($breakpoints, $point);
  @if $val {
    @media (max-width: $val) {
      @content;
    }
  } @else {
    @warn "⚠️ Breakpoint `#{$point}` non trouvé.";
  }
}

$breakpoints: (
  pg: 400px,
  lg: 600px,
  mg: 750px,
  xl: 900px
);

.empty-icon {
  background: none;
  border: none;
}

.boutton_recherche {
  display: flex;
  flex-direction: row;
}

.recherche {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-bottom: 15px; 
  margin-top: 4%;
}

main {
  padding: 5%;
  background: linear-gradient(180deg, #25325c 0%, #1b2f6b 60%);
}

.map-container {
  gap: 25px;
  border: 2px solid grey;
  padding: 25px;
  background-color: rgb(228, 231, 227);
  border-radius: 23px;
  position: relative;
}

.map-wrapper {
  position: relative;     
  width: 100%;
  height: 100vh;          
  overflow: hidden;
}

/* La carte occupe tout l'espace */
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;           
}

/* Le panneau latéral */
#descriptionMap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;           
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(8px);            
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;            
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

#descriptionMap img {
  margin: 5%;
  width: 90%;
  height: 30%;
  border-radius: 23px;
}

#descriptionMap p{
  text-align: justify;
  margin: 15% 5% 5% 5%;
  font-size: 1.2rem;
}

#openDescriptionMap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;           
  height: 5%;
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(8px);            
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;            
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

@include respond-max('xl') {
  #descriptionMap {
    top: auto;          
    right: 0;           
    bottom: 0;         
    width: 100%;        
    height: 35%;        
    flex-direction: row; 
    border-left: none;   
    border-top: 2px solid rgba(255, 255, 255, 0.2); 
  }

  #descriptionMap img {
    height: 16vh;
    width: 240%;
    margin: 0;
    margin-top: 7%;
  }

  #descriptionMap p {
    margin: 2%;
    margin-left: 5%;
    font-size: 1rem;
  }
}

@include respond-max('mg') {
  #descriptionMap img {
    height: 17vh;
    width: 250%;
    margin: 0;
    margin-top: 7%;
  }

  #descriptionMap p {
    margin: 0;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 0.9rem;
  }

  .recherche {
    margin-top: 8%;
  }
}

@include respond-max('lg') {
  #descriptionMap {       
    height: 50%;        
    flex-direction: column; 
  }

  #descriptionMap img {
    height: 12vh;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -5%;
  }

  #descriptionMap p {
    margin-left: 0;
  }

  .recherche {
    margin-top: 20%;
    flex-direction: column;
  }
}

@include respond-max('pg') {
  #descriptionMap p{       
    font-size: 0.8rem;
  }
}
